[Desktop Entry]
Name=Slack
Comment=Slack Desktop
GenericName=Slack Client for Linux
#Exec=env http_proxy=127.0.0.1:1080 https_proxy=127.0.0.1:1080 all_proxy=127.0.0.1:1080 LD_PRELOAD=/usr/lib/libcurl.so.3 /usr/bin/slack %U
Exec=env LD_PRELOAD=/usr/lib/libcurl.so.3 /usr/bin/slack %U
Icon=slack
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Network;InstantMessaging;
MimeType=x-scheme-handler/slack;
