[user]
    name = {{ .name }}
    email = {{ .email }}
    signingkey = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOkR8453GlDyyz0x00UD8LWgKKSfCsDjRn3dJV6uFgya"

[core]
    quotepath = false
    pager = delta

[interactive]
    diffFilter = delta --color-only

{{ if not .isWSL -}}
[delta]
    navigate = true
    minus-style                   = syntax "#3f2d3d"
    minus-non-emph-style          = syntax "#3f2d3d"
    minus-emph-style              = syntax "#763842"
    minus-empty-line-marker-style = syntax "#3f2d3d"
    line-numbers-minus-style      = "#c25d64"
    plus-style                    = syntax "#283b4d"
    plus-non-emph-style           = syntax "#283b4d"
    plus-emph-style               = syntax "#316172"
    plus-empty-line-marker-style  = syntax "#283b4d"
    line-numbers-plus-style       = "#399a96"
    line-numbers-zero-style       = "#3b4261"
{{- end }}

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[gpg]
    format = ssh

[commit]
    gpgsign = {{ .gpgsign }}

[init]
    defaultBranch = main

[alias]
	# commit-status: generate a commit with message from git-status (staged changes).
	# Source: https://gist.github.com/erikw/654386d35ecfdb0354cd2b71763f19ae
	# Explanation:
	# - Get only staged changes
	# - Ignore changes in working area (2nd letter, the Y in XY as explained in $(git help status))
	# - + split label and file path to separate lines so we can process the labels separately
	# - Keep only the first label using awk
	# - Add newline before each label section so we later can truncate \n to put everything on one line
	# - Make labels human readable e.g. M -> Modified
	# - Put everything on one line and trim leading & trailing whitespaces
    commit-status = !" \
	        TMPFILE=$(mktemp /tmp/git-commit-status-message.XXX); \
		git status --porcelain \
		  | grep '^[MARCDT]' \
		  | sort \
		  | sed -re 's/^([[:upper:]])[[:upper:]]?[[:space:]]+/\\1:\\n/' \
		  | awk '!x[$0]++' \
		  | sed -re 's/^([[:upper:]]:)$/\\n\\1/' \
		  | sed -re 's/^M:$/Modified: /' \
		  | sed -re 's/^A:$/Added: /' \
		  | sed -re 's/^R:$/Renamed: /' \
		  | sed -re 's/^C:$/Copied: /' \
		  | sed -re 's/^D:$/Deleted: /' \
		  | sed -re 's/^T:$/File Type Changed: /' \
		  | tr '\n' ' ' | xargs \
		  > $TMPFILE; \
		git commit -F $TMPFILE; \
		rm -f $TMPFILE \
		"

[includeIf "gitdir:~/work/"]
    path = ~/work/.gitconfig
