{{- $email := "self@gimo.me" -}}
{{- $name := "Yuanji" -}}
{{- $gpgsign := true -}}
{{- $hasBitwarden := true -}}
{{- $isWSL := false -}}
{{- $pinentryCmd := "pinentry" -}}

{{- if stdinIsATTY -}}
{{- $email = promptString "email" $email -}}
{{- $name = promptString "name" $name -}}
{{- $gpgsign = promptBool "gpgsign" $gpgsign -}}
{{- $hasBitwarden = promptBool "hasBitwarden" $hasBitwarden -}}
{{- end -}}

{{- if eq .chezmoi.os "darwin" -}}
{{- $pinentryCmd = "/opt/homebrew/bin/pinentry-mac" -}}
{{- else if eq .chezmoi.os "linux" -}}
{{- $pinentryCmd = "/usr/bin/pinentry-gnome3" -}}
{{- end -}}

{{- if (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
{{- $pinentryCmd = "/usr/bin/pinentry" -}}
{{- $isWSL = true -}}
{{- end -}}

[pinentry]
  command = {{ $pinentryCmd | quote }}

[data]
  email = {{ $email | quote }}
  name = {{ $name | quote }}
  gpgsign = {{ $gpgsign }}
  hasBitwarden = {{ $hasBitwarden }}
  pinentryCmd = {{ $pinentryCmd | quote }}
  isWSL = {{ $isWSL }}

[data.bitwarden]
  ssh_key = "7107abed-02b2-4a40-bb38-4b1cd44cbd12"
  atuin_key = "180b9f93-6329-41dd-8ac5-a616da422750"
