{{- $email := "self@gimo.me" -}}
{{- $name := "Yuanji" -}}
{{- $gpgsign := true -}}
{{- $pinentryCmd := "pinentry" -}}

{{- if stdinIsATTY -}}
{{- $email = promptString "email" $email -}}
{{- $name = promptString "name" $name -}}
{{- $gpgsign = promptBool "gpgsign" $gpgsign -}}
{{- end -}}

{{- if eq .chezmoi.os "darwin" -}}
{{- $pinentryCmd = "/opt/homebrew/bin/pinentry-mac" -}}
{{- else if eq .chezmoi.os "linux" -}}
{{- $pinentryCmd = "/usr/bin/pinentry-gnome3" -}}
{{- end -}}

[pinentry]
  command = {{ $pinentryCmd | quote }}

[data]
  email = {{ $email | quote }}
  name = {{ $name | quote }}
  gpgsign = {{ $gpgsign }}
  pinentryCmd = {{ $pinentryCmd | quote }}
