[".config/mpv/scripts/subs2srs"]
    type = "git-repo"
    url = "https://github.com/Ajatt-Tools/mpvacious.git"
    refreshPeriod = "168h"

[".config/mpv/scripts/videoclip"]
    type = "git-repo"
    url = "https://github.com/Ajatt-Tools/videoclip.git"
    refreshPeriod = "168h"

[".local/share/fonts/UbuntuMono"]
    type = "archive"
    url = "https://github.com/ryanoasis/nerd-fonts/releases/download/v3.3.0/UbuntuMono.tar.xz"
    include = ["*.ttf"]

[".local/share/fonts/JetBrainsMono"]
    type = "archive"
    url = "https://github.com/ryanoasis/nerd-fonts/releases/download/v3.3.0/JetBrainsMono.zip"
    include = ["*.ttf"]

[".local/bin/fd"]
    type = "archive-file"
    executable = true
    url = "https://github.com/sharkdp/fd/releases/download/v10.2.0/fd-v10.2.0-x86_64-unknown-linux-musl.tar.gz"
    stripComponents = 1
    path = "fd"

{{ if .isWSL -}}
[".local/bin/im-select"]
    type = "file"
    executable = true
    url = "https://github.com/daipeihust/im-select/raw/master/win/out/x86/im-select.exe"
    refreshPeriod = "168h"
{{- end }}
