# Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block; everything else may go below.
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

#####################################################################
# sheldon
#####################################################################

export GOPATH=$HOME/.go
export PATH=$PATH:$HOME/.local/bin:$HOME/.atuin/bin:$GOPATH/bin
eval "$(sheldon source)"

#####################################################################
# zsh
#####################################################################

HISTFILE=~/.zsh_history
HISTSIZE=1000000
SAVEHIST=1000000
setopt EXTENDED_HISTORY

zstyle ':completion:*' matcher-list 'm:{a-z}={A-Za-z}'
zstyle ':completion:*' menu select
zstyle ':completion:*:processes' command "ps -u $USER -o pid,stat,%cpu,%mem,cputime,command"

bindkey -e
bindkey '^[[A' history-substring-search-up
bindkey '^[[B' history-substring-search-down


#####################################################################
# common
#####################################################################

export EDITOR=nvim
export TERM=xterm-256color
export FPATH="$HOME/.zsh_completions:$FPATH"
export XDG_CONFIG_HOME=$HOME/.config
{{ if .isWSL -}}
# see: https://github.com/keybase/keybase-issues/issues/2798
export GPG_TTY=$TTY
export SSH_AUTH_SOCK=$XDG_RUNTIME_DIR/ssh-agent.socket
{{- end }}

alias ls='exa'
alias ll='ls -alh'
{{ if eq .chezmoi.osRelease.id "ubuntu" -}}
alias cat=batcat
{{- else -}}
alias cat=bat
{{- end }}
alias sudo='sudo '
alias vi='nvim'
alias vim='nvim'
alias v='f -e nvim'
alias cdtemp="cd $(mktemp -d)"
alias pb="curl -F\"file=@-;\" https://envs.sh"
alias email='aerc'
alias dotfiles='chezmoi'
alias qr='qrencode -m 2 -t utf8 <<< "$1"'
alias rclone='rclone -P'
alias bw-unlock='export BW_SESSION=$(bw unlock | grep export | cut -d'\''"'\'' -f2)'
if ! command -v pbcopy &> /dev/null; then
  alias pbcopy='{{ .clipCmd }}'
fi
if ! command -v open &> /dev/null; then
  alias open='xdg-open'
fi

zsh_stats() {
  fc -l 1 | awk '{CMD[$2]++;count++;}END { for (a in CMD)print CMD[a] " " CMD[a]/count*100 "% " a;}' | grep -v "./" | column -c3 -s " " -t | sort -nr | nl |  head -n20
}

tm() {
  [[ -n "$TMUX" ]] && change="switch-client" || change="attach-session"
  if [ $1 ]; then
    tmux $change -t "$1" 2>/dev/null || (tmux new-session -d -s $1 && tmux $change -t "$1"); return
  fi
  session=$(tmux list-sessions -F "#{session_name}" 2>/dev/null | fzf --exit-0) &&  tmux $change -t "$session" || echo "No sessions found."
}

# fasd
eval "$(fasd --init auto)"

# mise
eval "$(mise activate zsh)"

# fzf
export FZF_DEFAULT_COMMAND='fd --type f --hidden --follow --exclude .git'
export FZF_DEFAULT_OPTS='--height 40% --layout=reverse --border'
export FZF_CTRL_T_COMMAND="$FZF_DEFAULT_COMMAND"
{{ if eq .chezmoi.os "darwin" -}}
source /usr/local/opt/fzf/shell/completion.zsh
source /usr/local/opt/fzf/shell/key-bindings.zsh
{{- else if eq .chezmoi.osRelease.id "arch" -}}
source /usr/share/fzf/example/completion.zsh
source /usr/share/fzf/key-bindings.zsh
{{- else if eq .chezmoi.osRelease.id "ubuntu" -}}
source /usr/share/doc/fzf/examples/completion.zsh
source /usr/share/doc/fzf/examples/key-bindings.zsh
{{- end }}

autoload -Uz compinit && compinit

{{ if .hasBitwarden -}}
# atuin
eval "$(atuin init zsh)"
{{- end }}

# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh
