{{ if eq .chezmoi.osRelease.id "arch" -}}

{{ $packages := list
     "aerc"
     "anki"
     "ansible"
     "ansible-lint"
     "appimagelauncher"
     "archlinux-wallpaper"
     "atuin"
     "bat"
     "bitwarden-cli"
     "chezmoi"
     "compsize"
     "croc"
     "devtools-cn-git"
     "docker"
     "docker-compose"
     "eza"
     "fasd"
     "fcitx5"
     "fcitx5-chinese-addons"
     "fcitx5-configtool"
     "fcitx5-gtk"
     "fcitx5-material-color"
     "fcitx5-mozc"
     "fcitx5-qt"
     "fd"
     "foot"
     "fzf"
     "git"
     "git-delta"
     "gnome-extra"
     "gnome-themes-extra"
     "go"
     "google-chrome"
     "grim"
     "hadolint-bin"
     "htop"
     "hugo"
     "hyprland"
     "impd-git"
     "ipython"
     "jq"
     "kitty"
     "kooha"
     "libpipewire02"
     "mako"
     "mpd"
     "mpv"
     "ncdu"
     "neofetch"
     "neovim"
     "network-manager-applet"
     "noto-fonts"
     "noto-fonts-cjk"
     "noto-fonts-extra"
     "nwg-look"
     "obsidian"
     "ookla-speedtest-bin"
     "otf-font-awesome"
     "qt5-wayland"
     "rclone"
     "ripgrep"
     "seahorse"
     "sheldon"
     "shellcheck-static"
     "showmethekey"
     "s-tui"
     "spotify-launcher"
     "stylua"
     "swappy"
     "sway"
     "swaylock"
     "swayidle"
     "swaybg"
     "swayosd-git"
     "syncthing"
     "tealdeer"
     "telegram-desktop"
     "tig"
     "tmux"
     "tree"
     "ttf-jetbrains-mono-nerd"
     "vale-git"
     "w3m"
     "waybar"
     "wget"
     "whois"
     "wl-clipboard"
     "wob"
     "wofi"
     "words"
     "xdg-desktop-portal"
     "xdg-desktop-portal-hyprland"
     "yt-dlp"
     "zsh"
     "zsh-completions" -}}

#!/usr/bin/env bash

set -eufo pipefail
sudo pacman -S --needed --noconfirm archlinuxcn-keyring
yay -S --needed --noconfirm {{ $packages | join " " }}
{{ end -}}
