{{ if eq .chezmoi.osRelease.id "arch" -}}
{{ if not .isWSL }}
#!/usr/bin/env bash

sudo systemctl enable --now syncthing@yuanji
sudo systemctl enable --now avahi-daemon
sudo systemctl enable --now bluetooth
sudo usermod -a -G video $USER

systemctl --user enable gcr-ssh-agent.socket
{{ end }}
{{ end -}}
