[Desktop Entry]
Version=1.0
Name=[NSFW] Telegram Desktop
Comment=Official desktop version of Telegram messaging app
Exec=sh -c "telegram-desktop -many -workdir ~/.local/share/TelegramDesktop1 -- %u"
Icon=telegram
Terminal=false
StartupWMClass=TelegramDesktop1
Type=Application
Categories=Network;InstantMessaging;Qt;
MimeType=x-scheme-handler/tg;
